body{
  background-image: url("background.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 99% 100%;
  padding: 2px;
  margin-left: 4px;
}
#readability{
  background-color: white;
  opacity: 0.85;
}
#l{
  background-color: cyan;
  opacity: 0.85;
}
nav{
  background-color: black;
}
ul{
  position: relative;
  left: 0%;
}
li{
  display: inline;
  padding-left: 0px;
}
#Footer{
  background-color: red;
}
#Footer img{
  width: 35px;
  top: 50%;
}
